# Kredensial Supabase Database Cloud
PUBLIC_SUPABASE_URL=https://trkjpxpmygjiwkaqrrjya.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# Kunci Rahasia Server (Astro Backend API ONLY)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
